
html{
    font-family: "Trebuchet MS";
    background-color:rgba(238, 238, 238, 0.644);
   }
img{
    width: 70%;
}

.btxtclr{
    color: rgb(76, 74, 74);
}

.txtclr{
    color: gray;
}

.flexsize{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.flexsize2{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    align-items: flex-start;
}

.language{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    padding-top: 3%;
}

@media screen and (max-device-width: 800px) {
    .flexsize{flex-direction: column;} 
    .flexsize2{flex-direction: column-reverse;}
    .flexmobi{ padding-left: 15%;}
}